{# Plain text resume template #}
════════════════════════════════════════════════════════════════════════════════
{{ personal.name }}
════════════════════════════════════════════════════════════════════════════════

{{ personal.address.street }}
{{ personal.address.city }}, {{ personal.address.state }} {{ personal.address.zip }}
{{ personal.phone }}
{{ personal.email }}
{{ personal.website }}

════════════════════════════════════════════════════════════════════════════════
SUMMARY
════════════════════════════════════════════════════════════════════════════════

{{ summary | format_text_block }}
{% for highlight in highlights %}
  - {{ highlight.label }}: {{ highlight.description | format_text_block }}
{% endfor %}

════════════════════════════════════════════════════════════════════════════════
SKILLS
════════════════════════════════════════════════════════════════════════════════
{% for skill in skills %}

{{ skill.domain }}: {{ skill.technologies | join(', ') }}
{% endfor %}
