{# Plain text resume template #}
════════════════════════════════════════════════════════════════════════════════
{{ personal.name }}
════════════════════════════════════════════════════════════════════════════════

{{ personal.address.street }}
{{ personal.address.city }}, {{ personal.address.state }} {{ personal.address.zip }}
{{ personal.phone }}
{{ personal.email }}
{{ personal.website }}
