{# Markdown resume template #}
# {{ personal.name }} <!-- omit in toc -->

{{ personal.address.street }}  
{{ personal.address.city }}, {{ personal.address.state }} {{ personal.address.zip }}  
{{ personal.phone }}  
[{{ personal.email }}](mailto:{{ personal.email }})  
[{{ personal.website }}]({{ personal.website }})

## Summary

{{ summary }}
{% for highlight in highlights %}
- **{{ highlight.label }}:**
{{ highlight.description | trim | indent(2, first=True) }}
{% endfor %}
